/* Default */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #F22E2E;
    --bg-dark: #262626;
    --bg-light: #F3F5F3;
    --color-dark: #262626;
    --color-light: #F3F5F3;
}

html, body { height: 100%; }

body {
    background-color: var(--bg-light);
    margin: 0;
    font-family: Roboto, sans-serif;
}

ul { list-style: none; }

a, a:visited {
    text-decoration: none;
    color: var(--color-dark);
}

.padding-default { padding: 30px 20px; }

.btn-link { 
    background-color: transparent;
    color: var(--color-dark);
    padding: 8px 0;
    margin: 4px 0;
}

.d-block { display: block; }

/* Navbar */

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav .nav-container {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

nav .nav-home, nav .nav-menu {
    width: 100%;
    padding: 20px 0;
}

nav .nav-menu {
    display: flex;
    flex-direction: row-reverse;
}

nav .nav-home a.link-title {
    color: var(--bg-dark);
}

nav .nav-menu-list {
    display: inline-block;
}

.arrow-right {
    background-image: url('../assets/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.arrow-left {
    background-image: url('../assets/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.logo-social {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 8px;
}

.logo-github { background-image: url('../assets/logo-github.svg'); }
.logo-linkedin { background-image: url('../assets/logo-linkedin.svg'); }
